/* body {
  background-image: url("https://lambdaschool.com/assets/img/background.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  opacity: 0.3;
} */

.nav-container {
  height: 65px;
}

.centered {
    max-width: 100%;
    margin: 0 auto;
    background-color: lightgrey;
    padding: 10px;
    justify-content: center;
    position: relative;
    text-align: center;
}

ul {
  padding: 0px; 
  margin: 0;
  display: flex;
  justify-content: left;
}

li {
  width: 100px;
  justify-content: center;
  list-style: none;
  padding: 0px; 
  margin: 5px;
}

.header {
  max-width: 100%;
  margin: 0 auto;
  background-color: red;
  justify-content: center;
  text-align: center;
}
p h1 h2 h3 h4 h5 h6 { text-align: center; }
/* .flex-container {
  display: -webkit-flex;
  display: flex;
  width: 400px;
  height: 250px;
  background-color: lightgrey;
}

.flex-item {
  background-color: cornflowerblue;
  width: 100px;
  height: 100px;
  margin: 10px;
} */